/* src/app/navbar/navbar.component.css */

nav {
    background-color: #333;
    overflow: hidden;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  li a,
  li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  li a:hover,
  li button:hover {
    background-color: #111;
  }
  
  button {
    background-color: #333;
    color: white;
  }
  
  button:hover {
    background-color: #555;
  }
  