

<div class="dashboard-container">
  <div class="dashboard-header">Admin Dashboard</div>

  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>User ID</th>
        <th>Pickup</th>
        <th>Dropoff</th>
        <th>Details</th>
        <th>Delivery Time</th>
        <th>Status</th>
        <th>Assign Courier</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.user_id }}</td>
        <td>{{ order.pickupLocation }}</td>
        <td>{{ order.dropoffLocation }}</td>
        <td>{{ order.packageDetails }}</td>
        <td>{{ order.deliveryTime }}</td>
        <td>
          <select [value]="order.status" (change)="updateOrderStatus(order.id, $event)">
            <option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </option>
          </select>
        </td>
        <td>
          <select (change)="assignOrder(order.id, $event)">
            <option value="" disabled selected>Select Courier</option>
            <option *ngFor="let courier of couriers" [value]="courier.id">
              {{ courier.name }}
            </option>
          </select>
          
        </td>
        <td>
          <button class="delete" (click)="deleteOrder(order.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

